doctype html
html
    head
    body
        h1 Welcome to pug
        //- using . after tag name refers that the things we are writting under this is text  
        p. 
            This is a paragraph tag
            and this is a big para.

        //- can also use this
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eos odio accusantium exercitationem ipsa numquam doloribus debitis, rem ullam eveniet repudiandae, veniam inventore vero voluptates? Harum inventore debitis consectetur architecto.
        
        //- and also this
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quos voluptates inventore. Ad dolorum magni expedita nobis obcaecati in ipsum dolorem, impedit rem fugit architecto hic recusandae delectus odit!
        ul
            li This is item one
            li This is item two
            li This is item three
                
