mixin comments(commentData)
    .comment 
        .date= commentData.date
        .author= commentData.author
        .text= commentData.text
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mixins
        style. 
            .comment{
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }
            .date{
                font-size: 85%;
                text-align: right;
            }
            .author{
                font-size: 110%;
                font-weight: bold;
            }
            .text{
                font-size: 100%;
            }
    body
        //- mixins are similar to functions
        - const data = {date:"12-12-2012",author:"gagan",text:"Hey these tuts are written by me"}
        +comments(data)
        - const data1 = {date:"12-12-2014",author:"friend",text:"Hey these tuts are written by my friend"}
        +comments(data1)