<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About - Include Page
    body
        //- this include use to include the nav bar in about page
        include includes/nav 
        h4 About us
